*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.page{
    color: white;
    min-width: 98vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.page h2{
    font-size: 2.2rem;
}
.conteudo{
    min-height: 100vh;
  }
  .rodape{
    min-width: 98vw;
    background-color: #df2d3f;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: -40px;
  }
